Horizontal Grids:
Name,H-Coord{{ ',nX' if x_count is not none }}{{ ',dX' if x_spacing is not none }}{{ ',X Min' if x_min is not none }}{{ ',X Max' if x_max is not none }}{{ ',X Centre' if x_centre is not none }}{{ ',X Range' if x_range is not none }}{{ ',X-Array' if x_array is not none }}{{ ',nY' if y_count is not none }}{{ ',dY' if y_spacing is not none }}{{ ',Y Min' if y_min is not none }}{{ ',Y Max' if y_max is not none }}{{ ',Y Centre' if y_centre is not none }}{{ ',Y Range' if y_range is not none }}{{ ',Y-Array' if y_array is not none }}
{{ name }},{{ hcoord }}{{ ',' ~ x_count if x_count is not none }}{{ ',' ~ x_spacing if x_spacing is not none }}{{ ',' ~ x_min if x_min is not none }}{{ ',' ~ x_max if x_max is not none }}{{ ',' ~ x_centre if x_centre is not none }}{{ ',' ~ x_range if x_range is not none }}{{ ',' ~ x_array if x_array is not none }}{{ ',' ~ y_count if y_count is not none }}{{ ',' ~ y_spacing if y_spacing is not none }}{{ ',' ~ y_min if y_min is not none }}{{ ',' ~ y_max if y_max is not none }}{{ ',' ~ y_centre if y_centre is not none }}{{ ',' ~ y_range if y_range is not none }}{{ ',' ~ y_array if y_array is not none }}
