Main Options:
Run Name,Absolute or Relative Time?,Fixed Met?,Flat Earth?,Random Seed,Max # Sources,Max # Field Reqs,Max # Field Output Groups,Backwards?
{{ name }},{{ absolute_or_relative }},{{ fixed_met }},{{ flat_earth }},{{ random_seed }},{{ max_num_sources }},{{ max_num_field_reqs }},{{ max_num_field_output_groups }},{{ backwards }}
