OpenMP Options:
Use OpenMP?{{ ',Threads' if threads is not none  }}{{ ',Particle Threads' if particle_threads is not none  }}{{',Particle Update Threads' if particle_update_threads is not none  }}{{',Chemistry Threads' if chemistry_threads is not none  }}{{ ',Output Group Threads' if output_group_threads is not none  }}{{ ',Output Process Threads' if output_process_threads is not none  }}{{ ',Parallel MetRead' if parallel_metread is not none  }}{{ ',Parallel MetProcess' if parallel_metprocess is not none  }}
{{ use_openmp  }}{{ ',' ~ threads if threads is not none  }}{{ ',' ~ particle_threads if particle_threads is not none  }}{{ ',' ~ particle_update_threads if particle_update_threads is not none  }}{{ ',' ~ chemistry_threads if chemistry_threads is not none  }}{{ ',' ~ output_group_threads if output_group_threads is not none  }}{{ ',' ~ output_process_threads if output_process_threads is not none  }}{{ ',' ~ parallel_metread if parallel_metread is not none  }}{{ ',' ~ parallel_metprocess if parallel_metprocess is not none  }}
