Restart Options:
Cases Between Writes,Time Between Writes,Delete Old Files?,Write On Suspend?
{{ cases_between_writes or '' }},{{ time_between_writes or '' }},{{ delete_old_files or '' }},{{ write_on_suspend or '' }}
