Vertical Grids:
Name,Z-Coord{{ ',nZ' if count is not none }}{{ ',dZ' if spacing is not none }}{{ ',Z0' if min_point is not none }}{{ ',Z-Array' if array_name is not none }}{{ ',Av Z-Array' if av_array_name is not none }}{{ ',Index-Array' if index_array_name is not none }}
{{ name }},{{ zcoord }}{{ ',' ~ count if count is not none }}{{ ',' ~ spacing if spacing is not none }}{{ ',' ~ min_point if min_point is not none }}{{ ',' ~ array_name if array_name is not none }}{{ ',' ~ av_array_name if av_array_name is not none }}{{ ',' ~ index_array_name if index_array_name is not none }}
